<div class="sycontainer">
  <div class="productconfirmation">
    <% if @currentbox.stock_products.any? %>
      <p>
        <strong><%= @currentbox.stock_products.last.product.name %></strong> was successfully added to your box
      </p>
    <% else %>
      <p>
        You currently don't have any products in your Box!
      </p>
    <% end %>
  </div>
  <div class="currentbox">
    <% if @currentbox.stock_products.any? %>
      <h5>Your Cart</h5>
      <% @currentbox.stock_products.each do  |stockproduct| %>
        <div class="baybe-list-card">
          <div class="baybe-list">
            <%# if stockproduct.photos.any? %>
              <%= cl_image_tag stockproduct.product.photo %>
            <%# end %>
            <p><%= stockproduct.product.name %></p>
          </div>
          <div class="baybe-list">
            <p>
              <i id="sweet-alert-demo" class="far fa-trash-alt"></i>
            <%#= link_to "", stock_product_path(stockproduct, parent: "box"),method: :delete, id: "delete-link", class: "hidden" %>
            &nbsp &nbsp
              <%= humanized_money((stockproduct.product.price * stockproduct.condition.sell_ratio * 0.8).round) %> - <%= humanized_money((stockproduct.product.price * stockproduct.condition.sell_ratio).round) %> EUR
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @currentbox.stock_products.any? %>
    <div class="box-info-row">
          <p>TOTAL BOX RANGE</p>
        <p class="box-info-title"><%= humanized_money((@currentbox.expected_price * 0.8).round) %> - <%= humanized_money((@currentbox.expected_price).round) %> EUR</p>
      </div>
    <% end %>
  </div>
  <div>
    <% if @currentbox.stock_products.any? %>
    <div class="action-btn">
      <%= link_to "Sell other products", sell_products_path, class: "ghostPrimarySell" %>
      <%= link_to "Proceed to Confirmation", box_path(@currentbox), class: "buttonPrimary" %>
    </div>
    <% else %>
    <%= link_to "Add Items to your Box", sell_products_path, class: "buttonPrimary" %>
    <% end %>
  </div>
  </div>
</div>
