<div class="cart-confirm-container row justify-content-center">
  <% if @currentbox.stock_products.any? %>
    <% content_for(:box_current_js) do %>
      <script>
        var swal_alert = localStorage.getItem("box_alert");
        var currentcount = '<%= current_user.current_box.stock_products.count %>';

        if (swal_alert != currentcount) {
          var toast = SwalTwo.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 4000
          })
          toast.fire({
            type: 'success',
            title: '<%= @currentbox.stock_products.last.product.name %> was successfully added to your box'
          })
        }

        localStorage.setItem("box_alert", currentcount);
      </script>
    <% end %>
  <% end %>
  <div class="your-cart col-md-12 col-lg-8">
    <h4>YOUR CART</h4>
    <% @currentbox.stock_products.each do  |stockproduct| %>
    <div class="baybe-list-card" id="stock-product-<%= stockproduct.id %>">
      <div class="baybe-list">
        <%# if stockproduct.photos.any? %>
        <%= cl_image_tag stockproduct.product.photo %>
        <%# end %>
        <p class="pl-3 pr-3"><%= stockproduct.product.name %></p>
      </div>
      <p>
        <%= humanized_money(stockproduct.product.price * stockproduct.condition.buy_ratio) %> EUR &nbsp &nbsp
        <%= link_to stock_product_path(stockproduct, parent: "box"), remote: true, method: :delete do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
    <% end %>
    <div class="box-info-row">
      <p>TOTAL BOX RANGE</p>
      <p class="box-info-title" id="total-payout"><%= humanized_money((@currentbox.expected_price * 0.8).round) %> - <%= humanized_money((@currentbox.expected_price).round) %> EUR</p>
    </div>
  </div>
  <% if @currentbox.stock_products.any? %>

  <div class="action-btn col-md-12 col-lg-8 mb-3">
    <%= link_to "Sell other products", sell_products_path, class: "ghostPrimarySell" %>
    <%= link_to "Confirm Box", box_path(@currentbox), class: "buttonPrimary" %>
  <% else %>
  <div class="action-btn col-md-12 col-lg-8 mb-3">
  <%= link_to "Add Items to your Box", sell_products_path, class: "buttonPrimary" %>
  <% end %>
  </div>
</div>
