<div class="sycontainer">
  <div class="productconfirmation">
    <% if @currentbox.stock_products.any? %>
      <p>
        <strong><%= @currentbox.stock_products.last.product.name %></strong> was successfully added to your box
      </p>
    <% else %>
      <p>
        You currently don't have any products in your Box!
      </p>
    <% end %>
  </div>
  <div class="currentbox">
    <h5>Your Cart</h5>
    <% @currentbox.stock_products.each do  |stockproduct| %>
      <div class="baybe-list-card">
        <div class="baybe-list">
          <%# if stockproduct.photos.any? %>
            <%= cl_image_tag stockproduct.product.photo %>
          <%# end %>
          <p><%= stockproduct.product.name %></p>
        </div>
        <div class="baybe-list">
          <p>
            <i id="sweet-alert-demo" class="far fa-trash-alt"></i>
            <%= link_to "", stock_product_path(stockproduct, parent: "box"),method: :delete, id: "delete-link", class: "hidden" %>
            &nbsp &nbsp
            <%= stockproduct.product.price * stockproduct.condition.buy_ratio%> EUR
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <% if @currentbox.stock_products.any? %>
    <%= link_to "Proceed to Confirmation", box_path(@currentbox), class: "buttonPrimary btn-block" %>
    <% else %>
    <%= link_to "Add Items to your Box", sell_products_path, class: "buttonPrimary btn-block" %>
    <% end %>
  </div>
</div>
