<div class="nicontainer">
  <h4>YOUR BOX</h4>
  <div class="order">
    <% @stockproducts.each do |stockProd| %>
      <!-- ORDER STOCK PRODUCTS -->
      <div class="baybe-list-card">
          <div class="baybe-list">
            <%= cl_image_tag stockProd.product.photo %>
            <p><%= stockProd.product.name %></p>
          </div>
          <div class="baybe-list">
            <p>
              <%= link_to "", stock_product_path(stockProd, parent: "box"), method: :delete, data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %> &nbsp &nbsp
              <%= stockProd.product.price * stockProd.condition.buy_ratio%> EUR
            </p>
          </div>
      </div>
      <!------------------------>
    <% end %>
    <div class="box-info-row">
      <div class="box-info-title">
        <p>TOTAL CART</p>
        <p>
          <i class="fas fa-gift"></i>
        </p>
      </div>
      <p class="box-info-title"><%= @box.expected_price %>  EUR</p>
    </div>
  </div>
  <!-- PRIMARY BUTTON -->
  <%= link_to "Confirm Your Box for:  " + @box.expected_price.to_s + " EUR", confirm_box_path(@box),
      method: :patch,
      class: "buttonPrimary form-control",
      id: "confBoxBtn"  %>
  <!-- -------------- -->
  <br>
</div>
