<div class="cart-confirm-container small row col-lg-8 col-sm-12">
  <div class="your-cart w-100">
    <h4>YOUR BOX</h4>
    <div class="order">

      <% @stockproducts.each do |stockproduct| %>
        <!-- ORDER STOCK PRODUCTS -->
        <div class="baybe-list-card" id="stock-product-<%= stockproduct.id %>" >
          <div class="baybe-list">
              <%= cl_image_tag stockproduct.product.photo %>
            <p class="pl-3 pr-3"><%= stockproduct.product.name %></p>
          </div>
            <p class="right-info">
              <%= humanized_money((stockproduct.product.price * stockproduct.condition.sell_ratio * 0.8).round) %> - <%= humanized_money((stockproduct.product.price * stockproduct.condition.sell_ratio).round) %> EUR
              &nbsp &nbsp
              <%= link_to stock_product_path(stockproduct, parent: "box"), remote: true, method: :delete do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
            </p>
        </div>
        <!------------------------>
      <% end %>

      <% if @stockproducts.any? %>
        <div class="box-info-row">
          <div class="box-info-title"><p>TOTAL BOX</p></div>
          <p class="box-info-title"><%= humanized_money((@currentbox.expected_price * 0.8).round) %> - <%= humanized_money((@currentbox.expected_price).round) %> EUR</p>
        </div>
      <% end %>
    </div>

    <% if @stockproducts.any? %>
      <%= link_to "Confirm Your Box", confirm_box_path(@box),
        method: :patch,
        class: "buttonPrimary buttonBlock",
        id: "confBoxBtn"  %>
    <% else %>
      <%= link_to "Add Items to your Box", sell_products_path, class: "buttonPrimary buttonBlock" %>
    <% end %>
  </div>
</div>


