<div class="nicontainer">
  <h4>YOUR BOX</h4>
  <div class="order">
    <% @stockproducts.each do |stockProd| %>
    <!-- ORDER STOCK PRODUCTS -->
    <div class="baybe-list-card">
      <div class="baybe-list">
        <%= cl_image_tag stockProd.product.photo %>
        <p><%= stockProd.product.name %></p>
      </div>
      <div class="baybe-list">
        <p>
          <%= link_to "", stock_product_path(stockProd, parent: "box"), method: :delete, data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %> &nbsp &nbsp
          <%= humanized_money((stockProd.product.price * stockProd.condition.sell_ratio * 0.8).round) %> - <%= humanized_money((stockProd.product.price * stockProd.condition.sell_ratio).round) %> EUR
        </p>
      </div>
    </div>
    <!------------------------>
    <% end %>
    <% if @stockproducts.any? %>
    <div class="box-info-row">
      <div class="box-info-title">
        <p>TOTAL BOX</p>
        <p>
          <i class="fas fa-gift"></i>
        </p>
      </div>
      <p class="box-info-title"><%= humanized_money((@currentbox.expected_price * 0.8).round) %> - <%= humanized_money((@currentbox.expected_price).round) %> EUR</p>
    </div>
    <% end %>
  </div>

  <% if @stockproducts.any? %>
    <%= link_to "Confirm Your Box", confirm_box_path(@box),
    method: :patch,
    class: "buttonPrimary form-control",
    id: "confBoxBtn"  %>
  <% else %>
    <%= link_to "Add Items to your Box", sell_products_path, class: "buttonPrimary btn-block" %>
  <% end %>

    <br>
  </div>
