<nav class="navbar">
  <div class="container flex-column mb-4">
    <div class="filter-bar all-categories justify-content-between">
      <%= link_to "All Categories",
          products_path,
          class: "navbar-text filter-active" %>
      <% @categories.each do |category| %>
        <%= link_to category.description,
            filt_cat_path(query: params[:query], cat: category.description),
            class: "navbar-text",
            remote: true  %>
      <% end %>
    </div>

    <div class="filter-bar all-age">
      <%= link_to "All Ages",
          products_path,
          class: "navbar-text filter-active" %>
      <% @age_groups.each do |size| %>
        <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search"class="navbar-text"><%= size %></a>
      <% end %>
    </div>

    <div class="filter-bar all-conditions">
      <%= link_to "All Conditions",
          products_path,
          class: "navbar-text filter-active" %>
      <% @condition_groups.each do |condition| %>
        <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search " class="navbar-text"><%= condition %></a>
      <% end %>
    </div>
  </div>
</nav>
