<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top px-5">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <div class="baybe-navbar w-100">
    <div class="navbar-login">
      <%= link_to "Shop", new_user_session_path, class: "nav-link text-dark" %>
      <%= link_to "Sell", new_user_session_path, class: "nav-link text-dark" %>
      <%= link_to "Login", new_user_session_path, class: "nav-link text-dark" %>
    </div>

    <% if user_signed_in? %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to 'Edit Profile',edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
    <div class="navbar-search">
      <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search">
      <div class="input-group-prepend rounded-left">
        <span class="input-group-text text-dark" id="search">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>

    <div class="navbar-cart">
      <%= link_to "Cart", new_user_session_path, class: "text-dark nav-link fas fa-shopping-cart" %>
    </div>
    <% end %>
  </div>
</div>
