<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top px-5">
  <!-- BABYE LOGO -->
  <%= link_to root_path, :class => "navbar-brand" do %>
    <%= cl_image_tag("https://res.cloudinary.com/syrashid/image/upload/v1566557725/baybelogo_oeccrt.png") %>
  <% end %>


  <div class="baybe-navbar w-100">
    <div class="navbar-login">
      <%= link_to "Shop", new_user_session_path, class: "nav-link text-dark" %>
      <%= link_to "Sell", new_user_session_path, class: "nav-link text-dark" %>

      <!-- DIFFERENT NAVBAR IF SIGNED IN -->
      <% if user_signed_in? %>

        <div class="dropdown nav-link text-dark" >
          <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %>
          </div>
          <div id="show" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Edit Profile',edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>

      <% else %>

        <%= link_to "Login", new_user_session_path, class: "nav-link text-dark" %>

      <% end %>
      <!-- --------------------------- -->
    </div>
  </div>
</div>
