<div class="baybecontainer">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
      <h2>Add Product Details</h2>
      <br>
      <%= simple_form_for @product do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :age_min %>
      <%= f.input :age_max %>
      <%= f.association :category, :label_method => :description, :value_method => :id %>
      <%= f.input :brand %>
      <%= f.input :gender %>
      <%= f.input :photo %>
      <% if current_user.admin %>
        <%= f.input :price %>
        <%= f.input :public %>
      <% end %>
      <%= f.submit "submit", class: "buttonPrimary sell-btn" %>
      <% end %>
    </div>
  </div>
</div>
