<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 offset-lg-3">
      <h2 class="text-center mr-5">Add Product Details</h2>
      <br>
      <%= simple_form_for @product do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :age_min %>
      <%= f.input :age_max %>
      <%= f.association :category, :label_method => :description, :value_method => :id %>
      <%= f.input :brand %>
      <%= f.input :gender %>
      <%= f.input :photo %>
      <% if current_user.admin %>
      <%= f.input :price %>
      <%= f.input :public %>
      <% end %>
      <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
