<form action="<%= path %>" method="GET">
  <div class="container d-flex justify-content-between">
    <div>
      <!-- PRODUCT CAROUSEL -->
      <div class="baybe-card baybe-carousel-card">
        <i class="fas fa-chevron-right"></i>
        <i class="fas fa-chevron-left"></i>
        <%= cl_image_tag @product.photo %>
        <p class="fixed-brand"><%= @product.name %></p>
        <p id= "product-price" class="product-info-row-detail"><%= (@product.price.round * @ratio).round %> €</p>
        <p id= "savings" class="product-info-row-detail"> save <%= ((1 - @ratio)*100).round %>%</p>

      </div>
      <!-- PRIMARY BUTTON -->
      <div>
        <button type="submit" class="buttonPrimary"><%= text %></button>
      </div>
      <br>
      <button class="buttonPrimary">SweetAlert</button>

      <div class="options">
        <div>
          <select class="baybe-dropdown select2" name="stock_product[size]">
            <%= options_for_select(@age_groups) %>
          </select>
        </div>
        <div>
          <select id="selected-condition" class="baybe-dropdown select2" name="stock_product[condition]">
            <%= options_for_select(@condition_groups) %>
          </select>
        </div>
        <div>
          <select class="baybe-dropdown select2" name="stock_product[color]">
            <%= options_for_select(@color_groups) %>
          </select>
        </div>
      </div>
      <!-- -------------- -->
      <!-- --------------- -->
    </div>
    <!-- STOCK PRODUCT DETAILS -->
    <div class="product-info-right">
      <div class="product-info-row">
        <p class="product-info-row-title">Product Name</p>
        <p class="product-info-row-detail"><%= @product.name %></p>
      </div>

      <div class="product-info-row">
        <p class="product-info-row-title">standard price</p>
        <p class="product-info-row-detail"><%= @product.price.round %> €</p>
      </div>

      <div class="product-info-row">
        <p class="product-info-row-title">Features</p>
      </div>
        <p rows="5" cols="50" class="product-info-row-detail">
          <%= @product.description %>
        </p>
    </div>
    <!-- --------------- -->
  </div>
</form>

<!-- ADDED THIS TO ACCESS IT FROM PRICE-CALC JS -->
<%= tag("div", id: "product", data: {product: @product}) %></div>
<%= tag("div", id: "conditions", data: {conditions: @conditions}) %></div>

<!-- --------------- -->
