<div class="sycontainer">
  <div class="productconfirmation">
    <% if @currentcart.stock_products.any? %>
      <p>
        <strong><%= @currentcart.stock_products.last.product.name %></strong> was successfully added to your cart
     </p>
    <% else %>
      <p>
        You currently don't have any products in your Cart!
      </p>
    <% end %>
  </div>
  <div class="currentcart">
    <h5>Your Cart</h5>
    <% @currentcart.stock_products.each do  |stockproduct| %>
      <div class="baybe-list-card">
        <div class="baybe-list">
          <%# if stockproduct.photos.any? %>
            <%= cl_image_tag stockproduct.product.photo %>
          <%# end %>
          <p><%= stockproduct.product.name %></p>
        </div>
        <div class="baybe-list">
          <p>
            <%= link_to "", stock_product_path(stockproduct, parent: "cart"), method: :delete, data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %> &nbsp &nbsp
            <%= stockproduct.product.price * stockproduct.condition.buy_ratio%> EUR
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <% if @currentcart.stock_products.any? %>
      <%= link_to "Proceed to Checkout", cart_path(@currentcart), class: "buttonPrimary btn-block" %>
    <% else %>
      <%= link_to "Add Items to your Cart", products_path, class: "buttonPrimary btn-block" %>
    <% end %>
  </div>
</div>

<%= render 'shared/people_also_bought' %>
