<div class="sycontainer">
  <div class="productconfirmation">
    <% if @currentcart.stock_products.any? %>
      <p>
        <strong><%= @currentcart.stock_products.last.product.name %></strong> was successfully added to your box
      </p>
    <% else %>
      <p>
        Currently don't have any Cart!
      </p>
    <% end %>
  </div>
  <div class="currentcart">
    <h5>Your Cart</h5>
    <% @currentcart.stock_products.each do  |stockproduct| %>
      <div class="baybe-list-card">
        <div class="baybe-list">
          <%# if stockproduct.photos.any? %>
            <%= cl_image_tag stockproduct.product.photo %>
          <%# end %>
          <p><%= stockproduct.product.name %></p>
        </div>
        <div class="baybe-list">
          <p>
            <i id="sweet-alert-demo" class="far fa-trash-alt"></i>
            <%= link_to "", stock_product_path(stockproduct, parent: "cart"),method: :delete, id: "delete-link", class: "hidden" %>
            &nbsp &nbsp
            <%= stockproduct.product.price * stockproduct.condition.buy_ratio%> EUR
          </p>

        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Proceed to Checkout", cart_path(@currentcart), class: "buttonPrimary btn-block" %>
  </div>
</div>

<%= render 'shared/people_also_bought' %>
