<div class="nicontainer">
  <h4>YOUR ORDERS</h4>
  <% @carts.order(id: :desc).where(paid: "Paid").each do |cart| %>
    <div class="order">
      <!-- ORDER TITLE, STATUS AND PRICE -->
      <div class="order-title">
        <div class="order-title">
          <p>ORDER Nº: <%= cart.id %> - </p>
          <p class="status"> <%= cart.paid %></p>
        </div>
        <p><%= cart.total_price %> EUR</p>
      </div>
      <!------------------------>
        <% cart.stock_products.each do |stockProd| %>
          <!-- ORDER STOCK PRODUCTS -->
          <div class="baybe-list-card">
              <div class="baybe-list">

                <% if stockProd.photos.any? %>
                  <%= cl_image_tag stockProd.photos.first.photolink %>
                <% end %>

                <p><%= stockProd.product.name %></p>
              </div>
              <div class="baybe-list">
                <p><%= stockProd.product.price * stockProd.condition.buy_ratio%> EUR</p>
              </div>
          </div>
          <!------------------------>
        <% end %>
      </div>
  <% end %>
</div>
