<div class="container d-flex justify-content-between">
  <div class="your-cart">
    <h4>YOUR CART</h4>
    <div class="order">
      <% @stockproducts.each do |stockProd| %>
      <!-- ORDER STOCK PRODUCTS -->
      <div class="baybe-list-card">
        <div class="baybe-list">
          <%# if stockProd.photos.any? %>
            <%= cl_image_tag stockProd.product.photo %>
          <%# end %>
          <p><%= stockProd.product.name %></p>
        </div>
        <div class="baybe-list">
          <p>
            <i id="sweet-alert-demo" class="far fa-trash-alt"></i>
            <%= link_to "", stock_product_path(stockProd, parent: "cart"),method: :delete, id: "delete-link", class: "hidden" %>
            &nbsp &nbsp
            <%= stockProd.product.price * stockProd.condition.buy_ratio%> EUR
          </p>
        </div>
      </div>
      <!------------------------>
      <% end %>
      <div class="box-info-row">
        <div class="box-info-title">
          <p>TOTAL CART</p>
          <p>
            <i class="fas fa-gift"></i>
          </p>
        </div>
        <p class="box-info-title"><%= humanized_money_with_symbol(@currentcart.total_price) %></p>
      </div>
    </div>

    <% if !@stockproducts.any? %>
      <%= link_to "Add Items to your Cart", products_path, class: "buttonPrimary btn-block" %>
    <% else %>
      <%= form_tag confirm_cart_path(@currentcart), method: :patch,class: "stripe-form" do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="ORDER Nº: <%= Time.now.strftime("%Y%m%dT%H%M") %>N<%= @currentcart.id %>"
          data-email="<%= current_user.email %>"
          data-amount="<%= @currentcart.total_price_cents %>"
          data-currency="<%= @currentcart.total_price.currency %>">
        </script>

  </div>


  <div class="delivery-address">
    <div class="mt-5">
      <div class="custom-control custom-checkbox">
        <input name="gift" type="checkbox" class="custom-control-input" id="gift">
        <label class="custom-control-label" for="gift">GIFT</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="delivery_place" value="home" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">HOME ADDRESS</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="delivery_place" value="delivery" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">DELIVERY ADDRESS</label>
      </div>
    </div>

    <div class="">
      <div class="form-row mt-5">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input name="first_name" type="text" class="form-control" id="inputEmail4" placeholder="Chad">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input name="last_name" type="text" class="form-control" id="inputPassword4" placeholder="Saglam">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input name="city" type="text" class="form-control" id="inputCity" placeholder="Zürich">
        </div>
        <div class="form-group col-md-4">
          <label for="inputCountry">Country</label>
          <input name="country" type="text" class="form-control" id="inputCountry" placeholder="Switzerland">
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input name="zip" type="text" class="form-control" id="inputZip" placeholder="8307">
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>


