<div class="nicontainer">
  <h4>YOUR CART</h4>
  <div class="order">
    <% @stockproducts.each do |stockProd| %>
    <!-- ORDER STOCK PRODUCTS -->
    <div class="baybe-list-card">
      <div class="baybe-list">
        <%# if stockProd.photos.any? %>
          <%= cl_image_tag stockProd.product.photo %>
        <%# end %>
        <p><%= stockProd.product.name %></p>
      </div>
      <div class="baybe-list">
        <p>
          <%= link_to "", stock_product_path(stockProd, parent: "cart"), method: :delete, data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %> &nbsp &nbsp
          <%= stockProd.product.price * stockProd.condition.buy_ratio%> EUR
        </p>
      </div>
    </div>
    <!------------------------>
    <% end %>
    <div class="box-info-row">
      <div class="box-info-title">
        <p>TOTAL CART</p>
        <p>
          <i class="fas fa-gift"></i>
        </p>
      </div>
      <p class="box-info-title"><%= humanized_money_with_symbol(@cart.total_price) %></p>
    </div>
  </div>
  <%#= link_to "Proceed to Pay " + @cart.total_price.to_s + " EUR", confirm_cart_path(@cart), method: :patch, class: "buttonPrimary form-control" %>

  <%= form_tag confirm_cart_path(@cart), method: :patch,class: "stripe-form" do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="ORDER Nº: <%= Time.now.strftime("%Y%m%dT%H%M") %>N<%= @cart.id %>"
      data-email="<%= current_user.email %>"
      data-amount="<%= @cart.total_price_cents %>"
      data-currency="<%= @cart.total_price.currency %>">
    </script>
  <% end %>
</div>



