    <% products.each do |product| %>
    <a href="<%= sell_product_path(product) %>">
      <div class="baybe-card baybe-price-card">
        <p class="fixed-price"><%= humanized_money(product.price.round) %> €</p>
        <!-- <i class="fixed-fav far fa-heart"></i> -->
        <img src="<%= product.photo %>" alt="<%= product.name %>">
        <p class="fixed-brand">
          <%= product.brand %>
        </p>
      </div>
    </a>
    <% end %>
    <a href="<%= new_product_path %>" style="text-decoration: none !important">
      <div class="baybe-card baybe-price-card">
        <i class="fas fa-plus fa-9x"></i>
            <p class="fixed-brand">
          Add a product
        </p>
      </div>
    </a>
