<div class="herobanner">
  <%= render 'shared/navbar' %>
  <div class="bcontainer">
    <h1>Your baby gets more,</h1>
    <h1>You pay less</h1>
    <br>
    <%= render 'shared/searchbar' %>
    <%#= render 'shared/web_description' %>
  </div>
</div>

<div class= "container mt-5" style="display: flex">
  <%= link_to "buy", products_path, class: "ghostPrimary btn-block mr-3" %>
  <%= link_to "sell", sell_products_path, class: "ghostPrimarySell btn-block mt-0" %>
</div>

<div class="container mt-5 text-center">
  <h1>How Baybe Works</h1>
  <%= image_tag("https://res.cloudinary.com/syrashid/image/upload/v1567149486/Baybe-Diagram_fyrlxa.png", class: "baybe-diagram") %>
</div>

<br>
<br>

<div class="container">
  <h1 class="text-center">Our Categories</h1>
  <div class="cards-grid">
    <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>">
      <div class="baybe-card">
        <%= cl_image_tag category.photo %>
        <p><%= category.description %></p>
      </div>
    </a>
    <% end %>
  </div>
</div>

