<div class="herobanner">
  <%= render 'shared/navbar' %>
  <div class="hero-text">
    <h1>Your baby gets more,</h1>
    <h1>You pay less</h1>
  </div>
  <%= render 'shared/searchbar' %>
</div>

<div class= "baybecontainer action-btn mt-5">
  <%= link_to "buy", products_path, class: "ghostPrimary buttonBlock" %>
  <%= link_to "sell", sell_products_path, class: "ghostPrimarySell buttonBlock" %>
</div>

<div class="baybecontainer mt-5">
  <h1>How Baybe Works</h1>
  <%= image_tag("https://res.cloudinary.com/syrashid/image/upload/v1567149486/Baybe-Diagram_fyrlxa.png", class: "baybe-diagram") %>
</div>

<br>
<br>

<div class="baybecontainer">
  <h1>Our Categories</h1>
  <div class="cards-grid">
    <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>">
      <div class="baybe-card">
        <%= cl_image_tag category.photo %>
        <p><%= category.description %></p>
      </div>
    </a>
    <% end %>
  </div>
</div>

