<div class="herobanner">
  <div class="bcontainer">
    <h1>Your baby gets more</h1>
    <h1>You pay less</h1>
    <br>
    <%= render 'shared/searchbar' %>
    <%= render 'shared/web_description' %>
  </div>
</div>

  <br>
  <br>

  <div class="container">
    <h1 class="text-center">Categories</h1>
    <div class="cards-grid">
      <% @categories.each do |category| %>
      <a href="<%= category_path(category) %>">
        <div class="baybe-card">
          <%= cl_image_tag category.photo %>
          <p><%= category.description %></p>
        </div>
      </a>
      <% end %>
    </div>
  </div>

