<div class="herobanner">
  <div class="bcontainer">
    <h1>Your baby gets more</h1>
    <h1>You pay less</h1>
    <br>
    <div class="searchbar">
      <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Search"
        %>
        <%= submit_tag "Search", class: "buttonPrimary form-control" %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>
  <h1 class="text-center">Categories</h1>
  <div class="container">
    <div class="cards-grid">
      <% @categories.each do |category| %>
      <a href="<%= category_path(category) %>">
        <div class="baybe-card">
          <%= cl_image_tag category.photo %>
          <p><%= category.description %></p>

        </div>
      </a>
      <% end %>
    </div>
  </div>

