<div class="container d-flex justify-content-between">
  <div>
    <!-- PRODUCT CAROUSEL -->
    <div class="baybe-card baybe-carousel-card">
      <i class="fas fa-chevron-right"></i>
      <i class="fas fa-chevron-left"></i>
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p class="fixed-brand">Baby Trend TS27760</p>
    </div>
    <!-- PRIMARY BUTTON -->
    <div>
      <%= link_to "Add to Cart", current_cart_path(@currentcart), class: "buttonPrimary" %>
    </div>
    <!-- -------------- -->
    <!-- --------------- -->
  </div>
  <!-- STOCK PRODUCT DETAILS -->
  <div class="product-info-right">
    <div class="product-info-row">
      <p class="product-info-row-title">Product Name</p>
      <p class="product-info-row-detail"><%= @product.name %></p>
    </div>

    <div class="product-info-row">
      <p class="product-info-row-title">price</p>
      <p class="product-info-row-detail"><%= @product.price %> €</p>
    </div>

    <div class="product-info-row">
      <p class="product-info-row-title">Size</p>
      <div class="dropdown product-info-row-detail">
        <p class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @product.stock_products.size %>
        </p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @age_groups.each do |age| %>
            <a class="dropdown-item" href="#">
              <%= age %>
            </a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="product-info-row">
      <p class="product-info-row-title">Condition</p>
      <div class="dropdown product-info-row-detail">
        <p class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @condition_groups.each do |condition| %>
            <a class="dropdown-item" href="#">
              <%= condition %>
            </a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="product-info-row">
      <p class="product-info-row-title">Color</p>
      <div class="dropdown product-info-row-detail">
        <p class="dropdown-toggle" rid="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @color_groups.each do |color| %>
            <a class="dropdown-item" href="#">
              <%= color %>
            </a>
          <% end %>
        </div>
      </div>
    </div>


    <div class="product-info-row">
      <p class="product-info-row-title">Features</p>
      <p rows="5" cols="50" class="product-info-row-detail">
        <%= @product.description %>
      </p>
    </div>
  </div>
  <!-- --------------- -->
</div>

<br>
<br>
<br><br>
<br>
<br>
<div class="container">
  <h1 class="">People also Bought ....</h1>
  <div class="cards-grid">
    <% @rel_products.each do |product| %>
      <div class="baybe-card">
        <%= cl_image_tag product.photo %>
        <%= link_to product.brand, product_path(product) %>
      </div>
    <% end %>
  </div>
</div>
