<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Baybe - Your baby gets more, you pay less.</title>
    <%= favicon_link_tag(source = "baybeicon.ico") %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_pack_tag 'application' %>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e6341ee1-e024-4417-9875-28e7a6895bc9";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>

  <!-- something -->
  <body class="<%= theme %>">
    <%= render 'shared/navbar_for_selling' %>


    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= render 'shared/footer' %>
  </body>
</html>
